.bar{
	border:2px solid #000550;
	border-radius:5px;
	font-size:25px;
	width:500px;
	margin:0 auto;
	text-align:center;
}
.container{
	height:100%;
	width:100%;
	margin:0 auto;
	
}
#home_back{
	background-image: url('res/back_cov2.jpg'); 
	height:800px;
	width:100%;
	margin-top:20px;
	background-size:cover;
	background-repeat:no-repeat;
}
#link_box{
	display:block;
	width:200px;
	margin:0 auto;
	height:40px;
}
#about_back{
	background-image: url('res/back_cov4.jpg'); 
	height:800px;
	width:100%;
	margin-top:20px;
	background-size:cover;
	background-repeat:no-repeat;
}
#blog_back{
	background-image: url('res/back_cov5.jpg'); 
	height:800px;
	width:100%;
	margin-top:20px;
	background-size:cover;
	background-repeat:no-repeat;
}
#contact_back{
	background-image: url('res/back_cov2.jpg'); 
	height:800px;
	width:100%;
	margin-top:20px;
	background-size:cover;
	background-repeat:no-repeat;
}